# 第2章 数据清理

## 2.0 基本概念

In [1]:
import pandas as pd
path = "/Users/qiwsir/Documents/Codes/DataSet"
df = pd.read_csv(path + "/pm25/pm2.csv")
df.sample(10)

     RANK  CITY_ID CITY_NAME  Exposed days
106   118      146        鹤岗            88
43     48      628        银川            49
108   120      167        上海            88
32     37      630       石嘴山            45
13     14      280        宁德            19
33     38      615        张掖            46
3       4      267        泉州             9
25     28      232        舟山            34
241   264      374        许昌           200
20     22      494        潮州            30

In [2]:
df.shape

(264, 4)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 4 columns):
RANK            264 non-null int64
CITY_ID         264 non-null int64
CITY_NAME       264 non-null object
Exposed days    264 non-null int64
dtypes: int64(3), object(1)
memory usage: 8.3+ KB

In [4]:
df.dtypes

RANK             int64
CITY_ID          int64
CITY_NAME       object
Exposed days     int64
dtype: object