## 1.2 数据库中的数据

**基础知识**

In [1]:
import pymysql
mydb = pymysql.connect(host="localhost",    # ①
                       user='root',
                       password='1q2w3e4r5t',
                       db="books",
                      )
cursor = mydb.cursor()    # ②
sql = "select * from mybooks"    # ③
cursor.execute(sql)    # ④
datas = cursor.fetchall()    # ⑤
for data in datas:
    print(data)

(1, 'Learn Python', 'phei')
(2, 'Django', 'phei')
(3, 'Data Analysis', 'phei')
(4, 'Machine Learning', 'PHEI')
(5, '数据可视化案例', 'gitchat')
(6, '零基础入手Python', 'gitchat')

**项目案例**

In [2]:
import pandas as pd
import pymysql
mydb = pymysql.connect(host="localhost",
                       user='root',
                       password='1q2w3e4r5t',
                       db="books",
                      )
cursor = mydb.cursor()

path = "/Users/qiwsir/Documents/Codes/DataSet"
df = pd.read_csv(path + "/jiangsu/cities.csv") 
sql = 'insert into city (name, area, population, longd, latd) \
values ("%s","%s", "%s", "%s", "%s")'
for idx in df.index:
    row = df.iloc[idx]
    cursor.execute(sql % (row['name'], row['area'], row['population'], row['longd'], row['latd']))
mydb.commit()

In [4]:
sql_count = "SELECT COUNT(1) FROM city"
cursor.execute(sql_count)
n = cursor.fetchone()    # 获得一个返回值
n

(26,)

In [5]:
sql_columns = 'SELECT name, area FROM city'
cursor.execute(sql_columns)
cursor.fetchall()

(('Nanjing', 6582.31),
 ('Wuxi', 4787.61),
 ('Xuzhou', 11764.9),
 ('Changzhou', 4384.57),
 ('Soochow', 8488.42),
 ('Nantong', 8001.0),
 ('Lianyungang', 7615.29),
 ('Huaian', 9949.97),
 ('Yancheng', 16972.4),
 ('Yangzhou', 6591.21),
 ('Zhenjiang', 3840.32),
 ('Taizhou', 5787.26),
 ('Suqian', 8555.0),
 ('Nanjing', 6582.31),
 ('Wuxi', 4787.61),
 ('Xuzhou', 11764.9),
 ('Changzhou', 4384.57),
 ('Soochow', 8488.42),
 ('Nantong', 8001.0),
 ('Lianyungang', 7615.29),
 ('Huaian', 9949.97),
 ('Yancheng', 16972.4),
 ('Yangzhou', 6591.21),
 ('Zhenjiang', 3840.32),
 ('Taizhou', 5787.26),
 ('Suqian', 8555.0))

In [6]:
#以area字段值从大到小查询全部记录；
sql_sort = "SELECT * FROM city ORDER BY area DESC"
cursor.execute(sql_sort)
cursor.fetchall()

((9, 'Yancheng', 16972.4, 7260240, 120.13, 33.38),
 (22, 'Yancheng', 16972.4, 7260240, 120.13, 33.38),
 (3, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26),
 (16, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26),
 (8, 'Huaian', 9949.97, 4799889, 119.15, 33.5),
 (21, 'Huaian', 9949.97, 4799889, 119.15, 33.5),
 (13, 'Suqian', 8555.0, 4715553, 118.3, 33.96),
 (26, 'Suqian', 8555.0, 4715553, 118.3, 33.96),
 (5, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (18, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (6, 'Nantong', 8001.0, 7282835, 120.86, 32.01),
 (19, 'Nantong', 8001.0, 7282835, 120.86, 32.01),
 (7, 'Lianyungang', 7615.29, 4393914, 119.16, 34.59),
 (20, 'Lianyungang', 7615.29, 4393914, 119.16, 34.59),
 (10, 'Yangzhou', 6591.21, 4459760, 119.42, 32.39),
 (23, 'Yangzhou', 6591.21, 4459760, 119.42, 32.39),
 (1, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (14, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (12, 'Taizhou', 5787.26, 4618558, 119.9, 32.49),
 (25, 'Taizhou', 5787.26, 4618558, 119.9, 32.49),
 (2, 'Wuxi', 4787.61, 6372624, 120.29, 31.59),
 (15, 'Wuxi', 4787.61, 6372624, 120.29, 31.59),
 (4, 'Changzhou', 4384.57, 4591972, 119.95, 31.79),
 (17, 'Changzhou', 4384.57, 4591972, 119.95, 31.79),
 (11, 'Zhenjiang', 3840.32, 3113384, 119.44, 32.2),
 (24, 'Zhenjiang', 3840.32, 3113384, 119.44, 32.2))

**动手练习**

In [7]:
import pymysql
mydb = pymysql.connect(host="localhost",
                       user='root',
                       password='1q2w3e4r5t',
                       db="books",
                      )
cursor = mydb.cursor()

In [8]:
# 第1题
cursor.execute("SELECT * FROM city")
cursor.fetchall()

((1, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (2, 'Wuxi', 4787.61, 6372624, 120.29, 31.59),
 (3, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26),
 (4, 'Changzhou', 4384.57, 4591972, 119.95, 31.79),
 (5, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (6, 'Nantong', 8001.0, 7282835, 120.86, 32.01),
 (7, 'Lianyungang', 7615.29, 4393914, 119.16, 34.59),
 (8, 'Huaian', 9949.97, 4799889, 119.15, 33.5),
 (9, 'Yancheng', 16972.4, 7260240, 120.13, 33.38),
 (10, 'Yangzhou', 6591.21, 4459760, 119.42, 32.39),
 (11, 'Zhenjiang', 3840.32, 3113384, 119.44, 32.2),
 (12, 'Taizhou', 5787.26, 4618558, 119.9, 32.49),
 (13, 'Suqian', 8555.0, 4715553, 118.3, 33.96),
 (14, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (15, 'Wuxi', 4787.61, 6372624, 120.29, 31.59),
 (16, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26),
 (17, 'Changzhou', 4384.57, 4591972, 119.95, 31.79),
 (18, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (19, 'Nantong', 8001.0, 7282835, 120.86, 32.01),
 (20, 'Lianyungang', 7615.29, 4393914, 119.16, 34.59),
 (21, 'Huaian', 9949.97, 4799889, 119.15, 33.5),
 (22, 'Yancheng', 16972.4, 7260240, 120.13, 33.38),
 (23, 'Yangzhou', 6591.21, 4459760, 119.42, 32.39),
 (24, 'Zhenjiang', 3840.32, 3113384, 119.44, 32.2),
 (25, 'Taizhou', 5787.26, 4618558, 119.9, 32.49),
 (26, 'Suqian', 8555.0, 4715553, 118.3, 33.96))

In [9]:
# 第2题
cursor.execute("SELECT name, population FROM city")
cursor.fetchall()

(('Nanjing', 8004680),
 ('Wuxi', 6372624),
 ('Xuzhou', 8580500),
 ('Changzhou', 4591972),
 ('Soochow', 10465994),
 ('Nantong', 7282835),
 ('Lianyungang', 4393914),
 ('Huaian', 4799889),
 ('Yancheng', 7260240),
 ('Yangzhou', 4459760),
 ('Zhenjiang', 3113384),
 ('Taizhou', 4618558),
 ('Suqian', 4715553),
 ('Nanjing', 8004680),
 ('Wuxi', 6372624),
 ('Xuzhou', 8580500),
 ('Changzhou', 4591972),
 ('Soochow', 10465994),
 ('Nantong', 7282835),
 ('Lianyungang', 4393914),
 ('Huaian', 4799889),
 ('Yancheng', 7260240),
 ('Yangzhou', 4459760),
 ('Zhenjiang', 3113384),
 ('Taizhou', 4618558),
 ('Suqian', 4715553))

In [10]:
# 第3题
cursor.execute("SELECT * FROM city ORDER BY area DESC LIMIT 3")
cursor.fetchall()

((22, 'Yancheng', 16972.4, 7260240, 120.13, 33.38),
 (9, 'Yancheng', 16972.4, 7260240, 120.13, 33.38),
 (3, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26))

In [11]:
# 第4题
cursor.execute("SELECT * FROM city WHERE name='Soochow'")
cursor.fetchall()

((5, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (18, 'Soochow', 8488.42, 10465994, 120.62, 31.32))

In [12]:
# 第5题
cursor.execute("SELECT * FROM city WHERE population BETWEEN 8000000 AND 15000000")
cursor.fetchall()

((1, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (3, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26),
 (5, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (14, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (16, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26),
 (18, 'Soochow', 8488.42, 10465994, 120.62, 31.32))

In [13]:
# 第6题目
cursor.execute("SELECT * FROM city WHERE name LIKE '%S%'")    # 包含S字符
cursor.fetchall()

((5, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (13, 'Suqian', 8555.0, 4715553, 118.3, 33.96),
 (18, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (26, 'Suqian', 8555.0, 4715553, 118.3, 33.96))

In [14]:
cursor.execute("SELECT * FROM city WHERE name LIKE 'n%'")    #以n开头的
cursor.fetchall()

((1, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (6, 'Nantong', 8001.0, 7282835, 120.86, 32.01),
 (14, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (19, 'Nantong', 8001.0, 7282835, 120.86, 32.01))

In [15]:
# 第7题
# and
cursor.execute("SELECT * FROM city WHERE population>5000000 AND area<9000")
cursor.fetchall()

((1, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (2, 'Wuxi', 4787.61, 6372624, 120.29, 31.59),
 (5, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (6, 'Nantong', 8001.0, 7282835, 120.86, 32.01),
 (14, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (15, 'Wuxi', 4787.61, 6372624, 120.29, 31.59),
 (18, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (19, 'Nantong', 8001.0, 7282835, 120.86, 32.01))

In [16]:
# or
cursor.execute("SELECT * FROM city WHERE population>8000000 OR area>9000")
cursor.fetchall()

((1, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (3, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26),
 (5, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (8, 'Huaian', 9949.97, 4799889, 119.15, 33.5),
 (9, 'Yancheng', 16972.4, 7260240, 120.13, 33.38),
 (14, 'Nanjing', 6582.31, 8004680, 118.78, 32.04),
 (16, 'Xuzhou', 11764.9, 8580500, 117.2, 34.26),
 (18, 'Soochow', 8488.42, 10465994, 120.62, 31.32),
 (21, 'Huaian', 9949.97, 4799889, 119.15, 33.5),
 (22, 'Yancheng', 16972.4, 7260240, 120.13, 33.38))

**扩展研究**

In [17]:
import pandas as pd
import pymysql
mydb = pymysql.connect(host="localhost",
                       user='root',
                       password='1q2w3e4r5t',
                       db="books",)
cities = pd.read_sql_query("Select * FROM city", con=mydb, index_col='id')
cities

           name      area  population   longd   latd
id
1       Nanjing   6582.31     8004680  118.78  32.04
2          Wuxi   4787.61     6372624  120.29  31.59
3        Xuzhou  11764.90     8580500  117.20  34.26
4     Changzhou   4384.57     4591972  119.95  31.79
5       Soochow   8488.42    10465994  120.62  31.32
6       Nantong   8001.00     7282835  120.86  32.01
7   Lianyungang   7615.29     4393914  119.16  34.59
8        Huaian   9949.97     4799889  119.15  33.50
9      Yancheng  16972.40     7260240  120.13  33.38
10     Yangzhou   6591.21     4459760  119.42  32.39
11    Zhenjiang   3840.32     3113384  119.44  32.20
12      Taizhou   5787.26     4618558  119.90  32.49
13       Suqian   8555.00     4715553  118.30  33.96
14      Nanjing   6582.31     8004680  118.78  32.04
15         Wuxi   4787.61     6372624  120.29  31.59
16       Xuzhou  11764.90     8580500  117.20  34.26
17    Changzhou   4384.57     4591972  119.95  31.79
18      Soochow   8488.42    10465994  120.62  31.32
19      Nantong   8001.00     7282835  120.86  32.01
20  Lianyungang   7615.29     4393914  119.16  34.59
21       Huaian   9949.97     4799889  119.15  33.50
22     Yancheng  16972.40     7260240  120.13  33.38
23     Yangzhou   6591.21     4459760  119.42  32.39
24    Zhenjiang   3840.32     3113384  119.44  32.20
25      Taizhou   5787.26     4618558  119.90  32.49
26       Suqian   8555.00     4715553  118.30  33.96